<div class="row">
    <div class="col-xs-12 main-title-container">
        <h1>Big-O Cheat Sheet</h1>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="section-header">
            <h2>Data Structures</h2>
            <mat-card>
                <b>Variables Used:</b>
                <p><span class="big-o">n</span> - Number of elements contained in the structure</p>
            </mat-card>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="table-section">
            <mat-card>
                <mat-card-title>
                    <span>Array List</span>
                </mat-card-title>
                <mat-card-content>
                    <mat-checkbox [(ngModel)]="arrayListSizeStored">Size Stored in Variable</mat-checkbox>
                    <br>
                    <mat-checkbox [(ngModel)]="arrayListSorted">Sorted</mat-checkbox>
                    <br>
                    <mat-form-field [(hidden)]="arrayListSorted">
                        <mat-select [placeholder]="'Kth Selection Algorithm'"
                                    [(ngModel)]="kthSelectionAlgorithm">
                            <mat-option *ngFor="let algorithm of kthSelectionAlgorithms" [value]="algorithm">
                                {{algorithm}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <p class="complexity-type">Space Complexity</p>
                    <table>
                        <tr>
                            <th>Average Case</th>
                            <th>Worst Case</th>
                        </tr>
                        <tr>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                    </table>
                    <p class="complexity-type">Time Complexity</p>
                    <table>
                        <tr>
                            <th>Operation</th>
                            <th>Average Case</th>
                            <th>Worst Case</th>
                        </tr>
                        <tr>
                            <td>Finding an element</td>
                            <td *ngIf="!arrayListSorted"><span class="big-o">O(n)</span></td>
                            <td *ngIf="!arrayListSorted"><span class="big-o">O(n)</span></td>
                            <td *ngIf="arrayListSorted"><span class="big-o">O(log(n))</span></td>
                            <td *ngIf="arrayListSorted"><span class="big-o">O(log(n))</span></td>
                        </tr>
                        <tr>
                            <td>Accessing an element at a known index</td>
                            <td><span class="big-o">O(1)</span></td>
                            <td><span class="big-o">O(1)</span></td>
                        </tr>
                        <tr>
                            <td>Deleting an element at an arbitrary index</td>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                        <tr>
                            <td>Deleting first element</td>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                        <tr>
                            <td>Deleting last element</td>
                            <td *ngIf="arrayListSizeStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="arrayListSizeStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="!arrayListSizeStored"><span class="big-o">O(log(n))</span></td>
                            <td *ngIf="!arrayListSizeStored"><span class="big-o">O(log(n))</span></td>
                        </tr>
                        <tr>
                            <td>Adding an element at an arbitrary index</td>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                        <tr>
                            <td>Adding to front</td>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                        <tr>
                            <td>Adding to back</td>
                            <td *ngIf="arrayListSizeStored">Amortized <span class="big-o">O(1)</span></td>
                            <td *ngIf="arrayListSizeStored">Amortized <span class="big-o">O(1)</span></td>
                            <td *ngIf="!arrayListSizeStored">Amortized <span class="big-o">O(log(n))</span></td>
                            <td *ngIf="!arrayListSizeStored">Amortized <span class="big-o">O(log(n))</span></td>
                        </tr>
                        <tr>
                            <td>Finding Size</td>
                            <td *ngIf="arrayListSizeStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="arrayListSizeStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="!arrayListSizeStored"><span class="big-o">O(log(n))</span></td>
                            <td *ngIf="!arrayListSizeStored"><span class="big-o">O(log(n))</span></td>
                        </tr>
                        <tr>
                            <td>Finding <em>K</em>th largest/smallest element</td>
                            <td *ngIf="arrayListSorted"><span class="big-o">O(1)</span></td>
                            <td *ngIf="arrayListSorted"><span class="big-o">O(1)</span></td>
                            <td *ngIf="!arrayListSorted"><span class="big-o">O(n)</span></td>
                            <td *ngIf="!arrayListSorted && kthSelectionAlgorithm === kthSelectionAlgorithms[0]"><span
                                class="big-o">O(n<sup>2</sup>)</span></td>
                            <td *ngIf="!arrayListSorted && kthSelectionAlgorithm === kthSelectionAlgorithms[1]"><span
                                class="big-o">O(n)</span></td>
                        </tr>
                        <tr>
                            <td>Finding median (using <em>K</em>th selection)</td>
                            <td *ngIf="arrayListSorted"><span class="big-o">O(1)</span></td>
                            <td *ngIf="arrayListSorted"><span class="big-o">O(1)</span></td>
                            <td *ngIf="!arrayListSorted"><span class="big-o">O(n)</span></td>
                            <td *ngIf="!arrayListSorted && kthSelectionAlgorithm === kthSelectionAlgorithms[0]"><span
                                class="big-o">O(n<sup>2</sup>)</span></td>
                            <td *ngIf="!arrayListSorted && kthSelectionAlgorithm === kthSelectionAlgorithms[1]"><span
                                class="big-o">O(n)</span></td>
                        </tr>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
