<div class="row">
    <div class="col-xs-12 main-title-container">
        <h1>Big-O Cheat Sheet</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 about-container">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    About
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>This is an electronic version of my Big-O Cheat Sheet</p>
            <p>The source code can be found <a href="https://github.com/debkbanerji/big-o-cheat-sheet" target="_blank">here</a>
            </p>
            <p>If you find an error, or think there's something I should add, please <a
                href="mailto:debkbanerji@gmail.com">let me know</a></p>
            <em>v2017.11.19</em>
        </mat-expansion-panel>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="section-header">
            <h2>Data Structures</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="table-section">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <span class="subsection-label">Array List</span>
                    </mat-expansion-panel-header>
                    <p>Number of elements: <span class="big-o">n</span></p>
                    <mat-checkbox [(ngModel)]="arrayListSizeStored">Size Stored in Variable</mat-checkbox>
                    <br>
                    <mat-checkbox [(ngModel)]="arrayListSorted">Sorted</mat-checkbox>
                    <p class="complexity-type">Space Complexity</p>
                    <table>
                        <tr>
                            <th>Average Case</th>
                            <th>Worst Case</th>
                        </tr>
                        <tr>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                    </table>
                    <p class="complexity-type">Time Complexity</p>
                    <table>
                        <tr>
                            <th>Operation</th>
                            <th>Average Case</th>
                            <th>Worst Case</th>
                        </tr>
                        <tr>
                            <td>Finding an element</td>
                            <td *ngIf="!arrayListSorted"><span class="big-o">O(n)</span></td>
                            <td *ngIf="!arrayListSorted"><span class="big-o">O(n)</span></td>
                            <td *ngIf="arrayListSorted"><span class="big-o">O(log(n))</span></td>
                            <td *ngIf="arrayListSorted"><span class="big-o">O(log(n))</span></td>
                        </tr>
                        <tr>
                            <td>Accessing first element</td>
                            <td><span class="big-o">O(1)</span></td>
                            <td><span class="big-o">O(1)</span></td>
                        </tr>
                        <tr>
                            <td>Accessing last element</td>
                            <td><span class="big-o">O(1)</span></td>
                            <td><span class="big-o">O(1)</span></td>
                        </tr>
                        <tr>
                            <td>Accessing an element at an arbitrary index</td>
                            <td><span class="big-o">O(1)</span></td>
                            <td><span class="big-o">O(1)</span></td>
                        </tr>
                        <tr>
                            <td>Adding to front</td>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                        <tr>
                            <td>Adding to back</td>
                            <td *ngIf="arrayListSizeStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="arrayListSizeStored">Amortized <span class="big-o">O(1)</span></td>
                            <td *ngIf="!arrayListSizeStored"><span class="big-o">O(log(n))</span></td>
                            <td *ngIf="!arrayListSizeStored">Amortized <span class="big-o">O(log(n))</span></td>
                        </tr>
                        <tr>
                            <td>Adding at an arbitrary index</td>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                        <tr>
                            <td>Removing from front</td>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                        <tr>
                            <td>Removing from back</td>
                            <td *ngIf="arrayListSizeStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="arrayListSizeStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="!arrayListSizeStored"><span class="big-o">O(log(n))</span></td>
                            <td *ngIf="!arrayListSizeStored"><span class="big-o">O(log(n))</span></td>
                        </tr>
                        <tr>
                            <td>Removing from an arbitrary index</td>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                        <tr>
                            <td>Finding size</td>
                            <td *ngIf="arrayListSizeStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="arrayListSizeStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="!arrayListSizeStored"><span class="big-o">O(log(n))</span></td>
                            <td *ngIf="!arrayListSizeStored"><span class="big-o">O(log(n))</span></td>
                        </tr>
                        <tr>
                            <td>Checking if the list is empty</td>
                            <td><span class="big-o">O(1)</span></td>
                            <td><span class="big-o">O(1)</span></td>
                        </tr>
                        <tr>
                            <td>
                                Finding <em>K</em>th largest/smallest element
                                <br>
                                <br>
                                <mat-form-field [(hidden)]="arrayListSorted">
                                    <mat-select [placeholder]="'Pivot Selection Method'"
                                                [(ngModel)]="kthSelectionAlgorithm">
                                        <mat-option *ngFor="let algorithm of kthSelectionAlgorithms"
                                                    [value]="algorithm">
                                            {{algorithm}}
                                        </mat-option>
                                    </mat-select>
                                    <!--<br>-->
                                </mat-form-field>
                            </td>
                            <td *ngIf="arrayListSorted"><span class="big-o">O(1)</span></td>
                            <td *ngIf="arrayListSorted"><span class="big-o">O(1)</span></td>
                            <td *ngIf="!arrayListSorted"><span class="big-o">O(n)</span></td>
                            <td *ngIf="!arrayListSorted && kthSelectionAlgorithm === kthSelectionAlgorithms[0]"><span
                                class="big-o">O(n<sup>2</sup>)</span></td>
                            <td *ngIf="!arrayListSorted && kthSelectionAlgorithm === kthSelectionAlgorithms[1]"><span
                                class="big-o">O(n)</span></td>
                        </tr>
                        <tr>
                            <td>Finding median (using <em>K</em>th selection)</td>
                            <td *ngIf="arrayListSorted"><span class="big-o">O(1)</span></td>
                            <td *ngIf="arrayListSorted"><span class="big-o">O(1)</span></td>
                            <td *ngIf="!arrayListSorted"><span class="big-o">O(n)</span></td>
                            <td *ngIf="!arrayListSorted && kthSelectionAlgorithm === kthSelectionAlgorithms[0]"><span
                                class="big-o">O(n<sup>2</sup>)</span></td>
                            <td *ngIf="!arrayListSorted && kthSelectionAlgorithm === kthSelectionAlgorithms[1]"><span
                                class="big-o">O(n)</span></td>
                        </tr>
                    </table>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <span class="subsection-label">Linked List</span>
                    </mat-expansion-panel-header>
                    <p>Number of elements: <span class="big-o">n</span></p>
                    <mat-checkbox [(ngModel)]="linkedListSizeStored">Size Stored in Variable</mat-checkbox>
                    <br>
                    <mat-checkbox [(ngModel)]="linkedListHasTailPointer">Tail Pointer</mat-checkbox>
                    <br>
                    <mat-checkbox [(ngModel)]="linkedListCircular">Circular</mat-checkbox>
                    <br>
                    <mat-form-field [(hidden)]="arrayListSorted">
                        <mat-select placeholder="Linked List Type"
                                    [(ngModel)]="linkedListType">
                            <mat-option *ngFor="let type of linkedListTypes" [value]="type">
                                {{type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p class="complexity-type">Space Complexity</p>
                    <table>
                        <tr>
                            <th>Average Case</th>
                            <th>Worst Case</th>
                        </tr>
                        <tr>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                    </table>
                    <p class="complexity-type">Time Complexity</p>
                    <table>
                        <tr>
                            <th>Operation</th>
                            <th>Average Case</th>
                            <th>Worst Case</th>
                        </tr>
                        <tr>
                            <td>Finding an element</td>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                        <tr>
                            <td>Accessing first element</td>
                            <td><span class="big-o">O(1)</span></td>
                            <td><span class="big-o">O(1)</span></td>
                        </tr>
                        <tr>
                            <td>Accessing last element</td>
                            <td *ngIf="!(linkedListHasTailPointer || linkedListType === linkedListTypes[1] && linkedListCircular)"><span
                                class="big-o">O(n)</span></td>
                            <td *ngIf="!(linkedListHasTailPointer || linkedListType === linkedListTypes[1] && linkedListCircular)"><span
                                class="big-o">O(n)</span></td>
                            <td *ngIf="(linkedListHasTailPointer || linkedListType === linkedListTypes[1] && linkedListCircular)"><span
                                class="big-o">O(1)</span></td>
                            <td *ngIf="(linkedListHasTailPointer || linkedListType === linkedListTypes[1] && linkedListCircular)"><span
                                class="big-o">O(1)</span></td>
                        </tr>
                        <tr>
                            <td>Accessing an element at an arbitrary index</td>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                        <tr>
                            <td>Adding to front</td>
                            <td><span class="big-o">O(1)</span></td>
                            <td><span class="big-o">O(1)</span></td>
                        </tr>
                        <tr>
                            <td>Adding to back</td>
                            <td *ngIf="(linkedListHasTailPointer || linkedListCircular)"><span
                                class="big-o">O(1)</span>
                            </td>
                            <td *ngIf="(linkedListHasTailPointer || linkedListCircular)"><span
                                class="big-o">O(1)</span>
                            </td>
                            <td *ngIf="!(linkedListHasTailPointer || linkedListCircular)"><span
                                class="big-o">O(n)</span></td>
                            <td *ngIf="!(linkedListHasTailPointer || linkedListCircular)"><span
                                class="big-o">O(n)</span></td>
                        </tr>
                        <tr>
                            <td>Adding at an arbitrary index</td>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                        <tr>
                            <td>Removing from front</td>
                            <td><span class="big-o">O(1)</span></td>
                            <td><span class="big-o">O(1)</span></td>
                        </tr>
                        <tr>
                            <td>Removing from back</td>
                            <td *ngIf="!(linkedListType === linkedListTypes[1] && linkedListHasTailPointer || linkedListType === linkedListTypes[1] && linkedListCircular)"><span
                                class="big-o">O(n)</span></td>
                            <td *ngIf="!(linkedListType === linkedListTypes[1] && linkedListHasTailPointer || linkedListType === linkedListTypes[1] && linkedListCircular)"><span
                                class="big-o">O(n)</span></td>
                            <td *ngIf="(linkedListType === linkedListTypes[1] && linkedListHasTailPointer || linkedListType === linkedListTypes[1] && linkedListCircular)"><span
                                class="big-o">O(1)</span></td>
                            <td *ngIf="(linkedListType === linkedListTypes[1] && linkedListHasTailPointer || linkedListType === linkedListTypes[1] && linkedListCircular)"><span
                                class="big-o">O(1)</span></td>
                        </tr>
                        <tr>
                            <td>Removing from an arbitrary index</td>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                        <tr>
                            <td>Finding size</td>
                            <td *ngIf="linkedListSizeStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="linkedListSizeStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="!linkedListSizeStored"><span class="big-o">O(n)</span></td>
                            <td *ngIf="!linkedListSizeStored"><span class="big-o">O(n)</span></td>
                        </tr>
                        <tr>
                            <td>Checking if the list is empty</td>
                            <td><span class="big-o">O(1)</span></td>
                            <td><span class="big-o">O(1)</span></td>
                        </tr>
                    </table>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <span class="subsection-label">Stack</span>
                    </mat-expansion-panel-header>
                    <p>Number of elements: <span class="big-o">n</span></p>
                    <mat-form-field>
                        <mat-select placeholder="Backing Structure"
                                    [(ngModel)]="stackBackingStructure">
                            <mat-option *ngFor="let structure of stackBackingStructures" [value]="structure">
                                {{structure}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p class="complexity-type">Space Complexity</p>
                    <table>
                        <tr>
                            <th>Average Case</th>
                            <th>Worst Case</th>
                        </tr>
                        <tr>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                    </table>
                    <p class="complexity-type">Time Complexity</p>
                    <table>
                        <tr>
                            <th>Operation</th>
                            <th>Average Case</th>
                            <th>Worst Case</th>
                        </tr>
                        <tr>
                            <td>Push</td>
                            <td *ngIf="stackBackingStructure === stackBackingStructures[0]"><span
                                class="big-o">O(1)</span></td>
                            <td *ngIf="stackBackingStructure === stackBackingStructures[0]"><span
                                class="big-o">O(1)</span></td>
                            <td *ngIf="!(stackBackingStructure === stackBackingStructures[0])"><span
                                class="big-o">O(1)</span></td>
                            <td *ngIf="!(stackBackingStructure === stackBackingStructures[0])">Amortized <span
                                class="big-o">O(1)</span></td>
                        </tr>
                        <tr>
                            <td>Pop</td>
                            <td><span class="big-o">O(1)</span></td>
                            <td><span class="big-o">O(1)</span></td>
                        </tr>
                        <tr>
                            <td>Checking if the stack is empty</td>
                            <td><span class="big-o">O(1)</span></td>
                            <td><span class="big-o">O(1)</span></td>
                        </tr>
                    </table>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <span class="subsection-label">Queue</span>
                    </mat-expansion-panel-header>
                    <p>Number of elements: <span class="big-o">n</span></p>
                    <mat-form-field>
                        <mat-select placeholder="Backing Structure"
                                    [(ngModel)]="queueBackingStructure">
                            <mat-option *ngFor="let structure of queueBackingStructures" [value]="structure">
                                {{structure}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p class="complexity-type">Space Complexity</p>
                    <table>
                        <tr>
                            <th>Average Case</th>
                            <th>Worst Case</th>
                        </tr>
                        <tr>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                    </table>
                    <p class="complexity-type">Time Complexity</p>
                    <table>
                        <tr>
                            <th>Operation</th>
                            <th>Average Case</th>
                            <th>Worst Case</th>
                        </tr>
                        <tr>
                            <td>Enque</td>
                            <td *ngIf="queueBackingStructure === queueBackingStructures[0]"><span
                                class="big-o">O(1)</span></td>
                            <td *ngIf="queueBackingStructure === queueBackingStructures[0]"><span
                                class="big-o">O(1)</span></td>
                            <td *ngIf="!(queueBackingStructure === queueBackingStructures[0])"><span
                                class="big-o">O(1)</span></td>
                            <td *ngIf="!(queueBackingStructure === queueBackingStructures[0])">Amortized <span
                                class="big-o">O(1)</span></td>
                        </tr>
                        <tr>
                            <td>Dequeue</td>
                            <td><span class="big-o">O(1)</span></td>
                            <td><span class="big-o">O(1)</span></td>
                        </tr>
                        <tr>
                            <td>Checking if the queue is empty</td>
                            <td><span class="big-o">O(1)</span></td>
                            <td><span class="big-o">O(1)</span></td>
                        </tr>
                    </table>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <span class="subsection-label">Binary Tree</span>
                    </mat-expansion-panel-header>
                    <p>Number of elements: <span class="big-o">n</span></p>
                    <mat-checkbox [(ngModel)]="isBinarySearchTree">Binary Search Tree</mat-checkbox>
                    <br>
                    <mat-form-field [(hidden)]="!isBinarySearchTree">
                        <mat-select placeholder="Type of BST"
                                    [(ngModel)]="bstType">
                            <mat-option *ngFor="let type of bstTypes" [value]="type">
                                {{type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br *ngIf="isBinarySearchTree">
                    <mat-checkbox [(ngModel)]="binaryTreeSizeStored">Size Stored in Variable</mat-checkbox>
                    <br>
                    <mat-checkbox [(ngModel)]="binaryTreeNodeHeightStored">Heights of
                        Nodes Stored
                    </mat-checkbox>
                    <p class="complexity-type">Space Complexity</p>
                    <table>
                        <tr>
                            <th>Average Case</th>
                            <th>Worst Case</th>
                        </tr>
                        <tr>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                    </table>
                    <p class="complexity-type">Time Complexity</p>
                    <table *ngIf="!isBinarySearchTree">
                        <tr>
                            <th>Operation</th>
                            <th>Average Case</th>
                            <th>Worst Case</th>
                        </tr>
                        <tr *ngFor="let operation of commonSetOperations">
                            <td>{{operation}}</td>
                            <td *ngIf="operation !== commonSetOperations[1]"><span class="big-o">O(n)</span></td>
                            <td *ngIf="operation === commonSetOperations[1]"><span class="big-o">O(log(n))</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                        <tr>
                            <td>Finding size</td>
                            <td *ngIf="binaryTreeSizeStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="binaryTreeSizeStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="!binaryTreeSizeStored"><span class="big-o">O(n)</span></td>
                            <td *ngIf="!binaryTreeSizeStored"><span class="big-o">O(n)</span></td>
                        </tr>
                        <tr>
                            <td>Finding height</td>
                            <td *ngIf="binaryTreeNodeHeightStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="binaryTreeNodeHeightStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="!binaryTreeNodeHeightStored"><span class="big-o">O(n)</span></td>
                            <td *ngIf="!binaryTreeNodeHeightStored"><span class="big-o">O(n)</span></td>
                        </tr>
                        <tr>
                            <td>Traversal (In-order, Pre-order, Post-order or
                                Level-order)
                            </td>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                    </table>
                    <table *ngIf="isBinarySearchTree">
                        <tr>
                            <th>Operation</th>
                            <th>Average Case</th>
                            <th>Worst Case</th>
                        </tr>
                        <tr *ngFor="let operation of commonSetOperations">
                            <td>{{operation}}</td>
                            <td><span class="big-o">O(log(n))</span></td>
                            <td *ngIf="bstType === bstTypes[0]"><span class="big-o">O(n)</span></td>
                            <td *ngIf="bstType === bstTypes[1] || bstType === bstTypes[2]"><span
                                class="big-o">O(log(n))</span>
                            </td>
                            <td *ngIf="bstType === bstTypes[3]">Amortized <span class="big-o">O(log(n))</span></td>
                        </tr>
                        <tr *ngIf="bstType === bstTypes[3]">
                            <td>Accessing last accessed/added element</td>
                            <td><span class="big-o">O(1)</span></td>
                            <td><span class="big-o">O(1)</span></td>
                        </tr>
                        <tr>
                            <td>Finding size</td>
                            <td *ngIf="binaryTreeSizeStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="binaryTreeSizeStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="!binaryTreeSizeStored"><span class="big-o">O(n)</span></td>
                            <td *ngIf="!binaryTreeSizeStored"><span class="big-o">O(n)</span></td>
                        </tr>
                        <tr>
                            <td>Finding height</td>
                            <td *ngIf="(binaryTreeNodeHeightStored)"><span class="big-o">O(1)</span></td>
                            <td *ngIf="(binaryTreeNodeHeightStored)"><span class="big-o">O(1)</span></td>
                            <td *ngIf="(!binaryTreeNodeHeightStored && bstType !== bstTypes[1])"><span
                                class="big-o">O(n)</span>
                            </td>
                            <td *ngIf="(!binaryTreeNodeHeightStored && bstType !== bstTypes[1])"><span
                                class="big-o">O(n)</span>
                            </td>
                            <td *ngIf="(!binaryTreeNodeHeightStored && bstType === bstTypes[1])"><span
                                class="big-o">O(log(n))</span>
                            </td>
                            <td *ngIf="(!binaryTreeNodeHeightStored && bstType === bstTypes[1])"><span
                                class="big-o">O(log(n))</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Traversal (in-order, pre-order, post-order or
                                level-order)
                            </td>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                    </table>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <span class="subsection-label">B-Tree</span>
                    </mat-expansion-panel-header>
                    <p>Number of elements: <span class="big-o">n</span></p>
                    <mat-checkbox [(ngModel)]="bTreeSizeStored">Size Stored in Variable</mat-checkbox>
                    <br>
                    <mat-checkbox [(ngModel)]="bTreeNodeHeightStored">Heights of
                        Nodes Stored
                    </mat-checkbox>
                    <p class="complexity-type">Space Complexity</p>
                    <table>
                        <tr>
                            <th>Average Case</th>
                            <th>Worst Case</th>
                        </tr>
                        <tr>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                    </table>
                    <p class="complexity-type">Time Complexity</p>
                    <table>
                        <tr>
                            <th>Operation</th>
                            <th>Average Case</th>
                            <th>Worst Case</th>
                        </tr>
                        <tr *ngFor="let operation of commonSetOperations">
                            <td>{{operation}}</td>
                            <td><span class="big-o">O(log(n))</span></td>
                            <td><span class="big-o">O(log(n))</span></td>
                        </tr>
                        <tr>
                            <td>Finding size</td>
                            <td *ngIf="bTreeSizeStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="bTreeSizeStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="!bTreeSizeStored"><span class="big-o">O(n)</span></td>
                            <td *ngIf="!bTreeSizeStored"><span class="big-o">O(n)</span></td>
                        </tr>
                        <tr>
                            <td>Finding height</td>
                            <td *ngIf="bTreeNodeHeightStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="bTreeNodeHeightStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="!bTreeNodeHeightStored"><span class="big-o">O(log(n))</span></td>
                            <td *ngIf="!bTreeNodeHeightStored"><span class="big-o">O(log(n))</span></td>
                        </tr>
                        <tr>
                            <td>Obtaining ordered list of elements
                            </td>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                    </table>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <span class="subsection-label">Hash Table</span>
                    </mat-expansion-panel-header>
                    <p>Number of elements: <span class="big-o">n</span></p>
                    <mat-form-field>
                        <mat-select placeholder="Collision Resolution Method"
                                    [(ngModel)]="collisionResolutionMethod">
                            <mat-option *ngFor="let method of collisionResolutionMethods" [value]="method">
                                {{method}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-checkbox [(ngModel)]="comparableHashTableData">Comparable Data
                    </mat-checkbox>
                    <br>
                    <mat-form-field
                        [hidden]="!(collisionResolutionMethod === collisionResolutionMethods[0] && comparableHashTableData)">
                        <mat-select placeholder="External Chaining Method"
                                    [(ngModel)]="hashTableExternalStructure">
                            <mat-option *ngFor="let structure of hashTableExternalStructures" [value]="structure">
                                {{structure}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br *ngIf="collisionResolutionMethod === collisionResolutionMethods[0] && comparableHashTableData">
                    <mat-checkbox [(ngModel)]="hashTableSizeStored">Size Stored in Variable</mat-checkbox>
                    <br>
                    <p class="complexity-type">Space Complexity</p>
                    <table>
                        <tr>
                            <th>Average Case</th>
                            <th>Worst Case</th>
                        </tr>
                        <tr>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                    </table>
                    <p class="complexity-type">Time Complexity</p>
                    <table>
                        <tr>
                            <th>Operation</th>
                            <th>Average Case</th>
                            <th>Worst Case</th>
                        </tr>
                        <tr *ngFor="let operation of commonSetOperations">
                            <td>{{operation}}</td>
                            <td><span class="big-o">O(1)</span></td>
                            <td *ngIf="!(collisionResolutionMethod === collisionResolutionMethods[0] && comparableHashTableData && hashTableExternalStructure !== hashTableExternalStructures[0])">
                                <span *ngIf="operation === commonSetOperations[1]">Amortized </span><span class="big-o">O(n)</span>
                            </td>
                            <td *ngIf="(collisionResolutionMethod === collisionResolutionMethods[0] && comparableHashTableData && hashTableExternalStructure !== hashTableExternalStructures[0])">
                                <span *ngIf="operation === commonSetOperations[1]">Amortized </span><span class="big-o">O(log(n))</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Finding size</td>
                            <td *ngIf="hashTableSizeStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="hashTableSizeStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="!hashTableSizeStored"><span class="big-o">O(n)</span></td>
                            <td *ngIf="!hashTableSizeStored"><span class="big-o">O(n)</span></td>
                        </tr>
                        <tr>
                            <td>Obtaining all elements
                            </td>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                    </table>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <span class="subsection-label">Skip List</span>
                    </mat-expansion-panel-header>
                    <p>Number of elements: <span class="big-o">n</span></p>
                    <mat-form-field>
                        <mat-select placeholder="Maximum Height"
                                    [(ngModel)]="skipListHeight">
                            <mat-option *ngFor="let height of skipListHeights" [value]="height">
                                {{height}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-checkbox [(ngModel)]="skipListSizeStored">Size Stored in Variable</mat-checkbox>
                    <br>
                    <p class="complexity-type">Space Complexity</p>
                    <table>
                        <tr>
                            <th>Average Case</th>
                            <th>Worst Case</th>
                        </tr>
                        <tr>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n<span
                                *ngIf="skipListHeight === skipListHeights[0]">*h</span><span
                                *ngIf="skipListHeight === skipListHeights[1]"><sup>2</sup></span><span
                                *ngIf="skipListHeight === skipListHeights[2]">*log(n)</span>)</span></td>
                        </tr>
                    </table>
                    <p class="complexity-type">Time Complexity</p>
                    <table>
                        <tr>
                            <th>Operation</th>
                            <th>Average Case</th>
                            <th>Worst Case</th>
                        </tr>
                        <tr *ngFor="let operation of commonSetOperations">
                            <td>{{operation}}</td>
                            <td><span class="big-o">O(log(n))</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                        <tr>
                            <td>Finding size</td>
                            <td *ngIf="skipListSizeStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="skipListSizeStored"><span class="big-o">O(1)</span></td>
                            <td *ngIf="!skipListSizeStored"><span class="big-o">O(n)</span></td>
                            <td *ngIf="!skipListSizeStored"><span class="big-o">O(n)</span></td>
                        </tr>
                        <tr>
                            <td>Obtaining ordered list of elements
                            </td>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                    </table>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <span class="subsection-label">Heap</span>
                    </mat-expansion-panel-header>
                    <p>Number of elements: <span class="big-o">n</span></p>
                    <mat-form-field>
                        <mat-select placeholder="Heap Type"
                                    [(ngModel)]="heapType">
                            <mat-option *ngFor="let type of heapTypes" [value]="type">
                                {{type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-checkbox *ngIf="heapType === heapTypes[0] || heapType === heapTypes[1]"
                                  [(ngModel)]="heapArrayBacked">Array Backed
                    </mat-checkbox>
                    <br *ngIf="heapType === heapTypes[0] || heapType === heapTypes[1]">
                    <mat-form-field>
                        <mat-select placeholder="Ordering"
                                    [(ngModel)]="heapOrdering">
                            <mat-option *ngFor="let ordering of heapOrderings" [value]="ordering">
                                {{ordering}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-checkbox [(ngModel)]="heapSizeStored">Size Stored in Variable</mat-checkbox>
                    <br>
                    <p class="complexity-type">Space Complexity</p>
                    <table>
                        <tr>
                            <th>Average Case</th>
                            <th>Worst Case</th>
                        </tr>
                        <tr>
                            <td><span class="big-o">O(n)</span></td>
                            <td><span class="big-o">O(n)</span></td>
                        </tr>
                    </table>
                    <p class="complexity-type">Time Complexity</p>
                    <table>
                        <tr>
                            <th>Operation</th>
                            <th>Average Case</th>
                            <th>Worst Case</th>
                        </tr>
                        <tr>
                            <td>Inserting an element</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Accessing {{heapOrdering === heapOrderings[0] ? 'smallest' : 'largest'}} element</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Removing {{heapOrdering === heapOrderings[0] ? 'smallest' : 'largest'}} element</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{heapOrdering === heapOrderings[0] ? 'Decreasing' : 'Increasing'}} the key of an
                                element*
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Accessing {{heapOrdering !== heapOrderings[0] ? 'smallest' : 'largest'}} element</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Removing {{heapOrdering !== heapOrderings[0] ? 'smallest' : 'largest'}} element</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{{heapOrdering !== heapOrderings[0] ? 'Decreasing' : 'Increasing'}} the key of an
                                element*
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Deleting an arbitrary element*</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Finding size</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Determining if the heap is empty</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Builing a heap from <em>n</em> elements</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Merging two heaps</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <small>*Assuming the location of the element is known. This can be determined in constant time by
                        maintaining a map from elements to their locations.</small>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
