@import '~@angular/material/theming';

@include mat-core();

$app-primary: mat-palette($mat-red, A400);
$app-accent: mat-palette($mat-pink);
$app-warn: mat-palette($mat-red);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

.dark-theme {
    color: $light-primary-text;
    $dark-primary: mat-palette($mat-pink);
    $dark-accent: mat-palette($mat-pink, A200, A100, A400);
    $dark-warn: mat-palette($mat-red);

    $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

    @include angular-material-theme($dark-theme);
}

.dark-background {
    background-color: #303030 !important;
}

#particles-js-target {
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background: no-repeat 50% 50%;
    position: fixed;
    z-index: -1;
}

body, html, app-root {
    margin: 0;
    height: 100%;
    overflow: visible;
}

.main-content {
    overflow: visible;
}

th {
    background-color: rgba(0.5, 0.5, 0.5, 0.1) !important;
    color: unset !important;
}

td {
    background-color: transparent !important;
}

mat-dialog-container {
    padding: 0 !important;
}
